html {
	overflow-x: hidden;
}

body {
	margin-top: 60px;
	margin-bottom: 60px;
	font-family: 'Unica One', sans-serif;
	text-transform: uppercase;
	background-color: #202020;
	background-image: url('../img/background.png');
	color: #C0C0C0;
}

a, a:link, a:visited, a:hover {
	color: #ffffff;
}

#loading div, #apimissing div {
	position: absolute;
	top: 380px;
	text-align: center;
}

#loading div {
	top: 300px;
	font-size: 20pt;
}

#apimissing {
	display: none;
}

.row {
	margin: auto;
	width: 980px;
	margin-top: 50px;
}

.footer div {
	text-align: center;
	font-size: 8pt;
	line-height: 10px;
}

.pos-rel {
	position: relative;
}

#map-rain, #map-lightning {
	margin-top: 45px;
	margin-left: 40px;
	position: relative;
	display: none;
}

.map-widget {
	position: absolute;
	width: 240px;
	height: 240px;
	overflow: hidden;
	-webkit-clip-path: circle(at center);
	border-radius: 50%;
}

.mask {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 241px;
}

.pin {
	position: absolute;
	left: 100px;
	top: 89px;
}

.map-image {
	width: 285px;
	top: -15px;
	position: relative;
	left: 0px;
}

#map-lightning .map-image {
	width: 770px;
	height: 770px;
	top: -395px;
	left: -315px;
}

.map h2 {
	position: absolute;
	top: -45px;
	left: -10px;
	width: 100%;
	text-align: center;
	font-weight: normal;
	font-size:20px;
	color:#E0E0E3;
}

.map h3 {
	position: absolute;
	top: -25px;
	left: -10px;
	width: 100%;
	text-align: center;
	font-size:12px;
	color:#E0E0E3;
	font-weight: normal;
}

#icon-weather {
	position: absolute;
	z-index: 9;
	top: 200px;
	left: 270px;
	width: 100px;
	height: 100px;
}

#suntimes {
	position: absolute;
	z-index: 9;
	top: 00px;
	left: 270px;
	width: 100px;
	height: 100px;
	padding-top: 18px;
	text-align: center;
	background-image: url(../img/daytime.png);
	background-repeat: no-repeat;
	background-position: 50% 0px;
	display: none;
}

#dial-temperature {
	position: absolute;
	top: 190px;
	left: -55px;
	width: 110px;
	height: 110px;
}

.widget {
	width: 100%;
	height: 300px;
	margin: 0 auto;
}
