body {
	margin-top: 50px;
	margin-left: 50px;
}

#license {
	text-align: center;
	font-size: 8pt;
}

.pos-rel {
	position: relative;
}

#map-rain {
	margin-top: 40px;
	margin-left: 40px;
	width: 240px;
	height: 240px;
	overflow: hidden;
}

#map-rain #mask {
	position: absolute;
	left: 40px;
	top: 40px;
}

#map-rain #pin {
	position: absolute;
	left: 138px;
	top: 129px;
}

#map-rain #map {
	width: 270px;
	height: 250px;
	position: relative;
	left: 0px;
}

#map-rain h2 {
	position: absolute;
	top: 0px;
	left: 5px;
	width: 100%;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size:16px;
	color:#274b6d;
}

#icon-weather {
	position: absolute;
	z-index: 9;
	top: 200px;
	left: 270px;
	width: 100px;
	height: 100px;
}

#dial-temperature {
	position: absolute;
	top: 190px;
	left: -55px;
	width: 110px;
	height: 110px;
}

.widget {
	width: 100%;
	height: 300px;
	margin: 0 auto;
}